  @use '../../../assets/styles/mixin' as *;
  img {
    object-fit: cover;
    height: 9.375rem;
    width: 9.375rem;
    display: block;
    box-sizing: border-box;
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    border: 0.0625rem solid;
    padding: 1rem;
    border-image: linear-gradient(45deg, #3c4fe0, greenyellow) 1;
  }
  
  .restaurant-list {
    display: flex;
    border-bottom: 0.0625rem solid #e6e6e6;
    column-gap: 1.25rem;
    @media screen and (max-width: 25.9375rem) {
      flex-direction: column;
      align-items: center;
      img {
        height: 12.5rem;
        width: 12.5rem;
      }
    }
  }
  
  section {
    margin-top: 1.25rem;
    padding-bottom: 0.625rem;
    position: relative;
  }
  
  .restaurant-list__stars {
    display: flex;
    @media screen and (max-width: 415px) {
      justify-content: center;
      align-items: center;
    }
  }
  
  .restaurant-list__content {
    flex: 1;
    h2 {
      max-width: 90%;
    }
    @media screen and (max-width: 415px) {
      text-align: center;
      h2 {
        max-width: unset;
      }
    }
  }
  
  .restaurant-list__show {
    margin-top: 1.25rem;
    width: 100%;
    text-align: center;
    button {
      width: 6.25rem;
    }
  }
  
  .restaurant-list__action {
    text-align: right;
    margin-top: 1.25rem;
    @media screen and (max-width: 768px) {
      text-align: unset;
    }
    button {
      height: 1.5625rem;
      width: 1.5625rem;
      font-size: 0.9375rem;
      mat-icon {
        height: 0.9375rem;
        width: 0.9375rem;
        font-size: 0.9375rem;
      }
      background-color: lightgray;
      transition: transform 0.1s ease-in-out;
      will-change: transform;
      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }
  
  .restaurant-no-results {
    display: grid;
    place-content: center;
    margin-top: 1.25rem;
  }