<ais-infinite-hits tabindex="0" [transformItems]="transformData">
  <ng-template let-hits="hits" let-results="results" let-refineNext="showMore">
    <div class="restaurant-no-results" *ngIf="hits.length===0 ">
      No results have been found for {{ results?.query }}.
    </div>
    <ng-container *ngIf="results.query && results.query.length > 0">

      <section class="restaurant-list" *ngFor="let hit of hits; let i = index">

        <img loading="lazy " src="{{hit.image_url}} " alt="{{hit.name}} " alt="restaurant image {{i}} " />
        <div class="restaurant-list__content ">
          <h2>
            <ais-highlight attribute="name " [hit]="hit "></ais-highlight>
          </h2>
          <div class="restaurant-list__stars fw-300 dark-gray ">
            <app-star [rating]="hit.stars_count "></app-star>
            <div class="ml-5 ">({{hit.reviews_count}} <span>{{reviews}}</span>)</div>
          </div>
          <div class="restaurant-list__ fw-300 dark-gray ">
            <span>{{hit.food_type}}</span> |
            <span>
              <ais-highlight attribute="address " [hit]="hit "></ais-highlight>
            </span> |
            <span>{{hit.price_range}}</span>

          </div>
          <div class="restaurant-list__action ">
            <button matTooltip="Delete this row " (click)="delete(hit,hits) " class="restaurant-list__delete " mat-mini-fab aria-label="Example icon button with a delete icon ">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>


      </section>
    </ng-container>
    <div *ngIf="hits.length > 0" class="restaurant-list__show ">
      <button mat-icon-button (click)="refineNext($event) " aria-label="Example icon button with a vertical three dot icon ">
        Show More <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </ng-template>
</ais-infinite-hits>

<!-- <mat-icon>expand_more</mat-icon> -->