.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 1rem;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gold;
  width: var(--star-width);
  overflow: hidden;
}