.panels {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(12.5rem, 16.25rem) minmax(31.25rem, 43.125rem);
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  column-gap: 1.25rem;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  &__left {
    position: sticky;
    padding: 1.25rem;
    align-self: flex-start;
    top: 0;
    margin-top: 3.125rem;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__add {
    display: flex;
    app-search-box {
      flex: 1;
    }
  }
}

.header {
  margin-bottom: 1.25rem;
  h1 {
    margin: 0 auto;
  }
}

.header__add {
  font-size: 15px;
  border-top: 0.1px solid darkgray;
  div {
    cursor: pointer;
  }
}