/* You can add global styles to this file, and also import other style files */

@use './assets/styles/mixin' as *;
@use './assets/styles/reset' as *;
@use './assets/styles/ngais-overrides' as *;
@use './assets/styles/colors' as *;
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  &:focus {
    outline: 0.125rem solid rgb(12, 11, 49) !important;
    outline-offset: 0.125rem;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  background-color: rgb(245, 246, 247);
  // font-size: 1rem !important;
  @media screen and (max-width: 415px) {
    font-size: 1.0625rem !important;
  }
}

h2,
h1,
p,
a {
  margin: 0;
}

h1,
h2 {
  margin-top: unset !important;
}

.hide {
  display: none !important;
}

.text-align-center {
  text-align: center;
}

.mt-10 {
  margin-top: 0.625rem !important;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.ml-5 {
  margin-left: 0.3125rem;
}

.white {
  color: #fff;
}

.fw-300 {
  font-weight: 300;
}

.dark-gray {
  color: darkslategray;
}

.mat-divider {
  margin-bottom: 0.9375rem !important;
}

.restaurant-list__action {
  .mat-button-wrapper {
    line-height: 0.9375rem !important;
    transform: translateY(-0.375rem);
  }
}

.mat-raised-button {
  border-radius: 3rem !important;
}