@use './mixin' as *;
@use './colors' as *;
.ais-Menu {
  .ais-Menu-item--selected {
    background-color: $hover-color !important;
    border-radius: 20px;
  }
  .ais-Menu-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    transition: transform 100ms ease-in-out;
    will-change: transform;
    &:hover,
    &:focus,
    &:active {
      background-color: $hover-color !important;
      border-radius: 20px;
      transform: translateX(5px);
    }
    &:hover:after {
      transform: translateX(0);
    }
  }
  .ais-Menu-link {
    display: flex;
    justify-content: space-between;
  }
}

.ais-RatingMenu-link {
  transition: transform 100ms ease-in-out;
  will-change: transform;
  &:hover,
  &:focus,
  &:active {
    transform: translateX(5px);
  }
  &:hover:after {
    transform: translateX(0);
  }
}

.ais-Menu-showMore,
.primary-button {
  @include button;
  color: #fff;
}

.ais-Menu-showMore {
  &:focus {
    background-image: unset;
  }
}

.ais-Panel {
  margin-bottom: 20px;
}

.ais-SearchBox {
  position: sticky;
  top: 5px;
  z-index: 1;
}

.ais-RatingMenu-starIcon--full {
  fill: gold;
}

.ais-RatingMenu-starIcon--empty {
  fill: darkgray;
}

.ais-Menu-count {
  border: unset;
  background: unset;
}