@use './mixin' as *;
@use './colors' as *;
.ais-Menu {
  .ais-Menu-item--selected {
    background-color: $hover-color !important;
    border-radius: 1.25rem;
  }
  .ais-Menu-item {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-bottom: 0.3125rem;
    transition: transform 100ms ease-in-out;
    will-change: transform;
    &:hover,
    &:focus,
    &:active {
      background-color: $hover-color !important;
      border-radius: 1.25rem;
      transform: translateX(0.3125rem);
    }
    &:hover:after {
      transform: translateX(0);
    }
  }
  .ais-Menu-link {
    display: flex;
    justify-content: space-between;
  }
}

.ais-RatingMenu-link {
  transition: transform 100ms ease-in-out;
  will-change: transform;
  &:hover,
  &:focus,
  &:active {
    transform: translateX(0.3125rem);
  }
  &:hover:after {
    transform: translateX(0);
  }
}

.ais-Menu-showMore,
.primary-button {
  @include button;
  color: #fff;
}

.ais-Menu-showMore {
  &:focus {
    background-image: unset;
  }
}

.ais-Panel {
  margin-bottom: 1.25rem;
  .ais-Panel-header {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    color: black;
  }
}

.ais-SearchBox {
  position: sticky;
  top: 0.3125rem;
  z-index: 1;
}

.ais-RatingMenu-starIcon--full {
  fill: gold;
}

.ais-RatingMenu-starIcon--empty {
  fill: darkgray;
}

.ais-Menu-count {
  border: unset;
  background: unset;
}