@use './mixin' as *;
@use './colors' as *;
.ais-Menu {
  .ais-Menu-item--selected {
    background-color: $hover-color !important;
    border-radius: 20px;
  }
  .ais-Menu-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
  }
  .ais-Menu-link {
    display: flex;
    justify-content: space-between;
  }
}

.ais-Menu-showMore,
.primary-button {
  @include button;
  color: #fff;
}

.ais-Panel-header {
  padding-left: 10px;
}

.ais-SearchBox {
  position: sticky;
  top: 5px;
  z-index: 1;
}